[Unit]
Description=consul-template
Documentation=https://consul.io/docs
Wants=network-online.target
After=network-online.target

# If you are running Consul, please uncomment following Wants/After configs.
# Assuming your Consul service unit name is "consul"
Wants=consul.service
After=consul.service

[Service]
KillMode=process
KillSignal=SIGINT
ExecStart=/usr/local/bin/consul-template -consul-addr=http://10.170.13.11:8500 -template "/etc/consul-template/nginx.ctpl:/etc/nginx/conf.d/nginx.conf:service nginx reload"
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=2
StartLimitBurst=3
StartLimitIntervalSec=10
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
