global
	log /dev/log	local0
	log /dev/log	local1 notice
	chroot /var/lib/haproxy
	stats socket /run/haproxy/admin.sock mode 660 level admin
	stats timeout 30s
	user haproxy
	group haproxy
	daemon

	# Default SSL material locations
	ca-base /etc/ssl/certs
	crt-base /etc/ssl/private

	# Default ciphers to use on SSL-enabled listening sockets.
	# For more information, see ciphers(1SSL). This list is from:
	#  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
	ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS
	ssl-default-bind-options no-sslv3

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
		timeout connect 5000
		timeout client  50000
		timeout server  50000
	errorfile 400 /etc/haproxy/errors/400.http
	errorfile 403 /etc/haproxy/errors/403.http
	errorfile 408 /etc/haproxy/errors/408.http
	errorfile 500 /etc/haproxy/errors/500.http
	errorfile 502 /etc/haproxy/errors/502.http
	errorfile 503 /etc/haproxy/errors/503.http
	errorfile 504 /etc/haproxy/errors/504.http

frontend http

	bind 0.0.0.0:80
	bind 0.0.0.0:8000

	option http-server-close

	acl consul   hdr_beg(host) consul.
	use_backend consul  if consul 

        acl vault   hdr_beg(host) vault.
        use_backend vault  if vault

        acl nomad  hdr_beg(host) nomad.
        use_backend nomad if nomad

frontend consul
        bind *:8500
        mode http
        default_backend consul

frontend vault
        bind *:8200
        mode http
        default_backend vault

frontend nomad
        bind *:4646
        mode http
        default_backend nomad

backend consul
        mode http
        balance roundrobin
        option forwardfor
        server consul1 10.170.13.11:8500 check port 8500
        server consul2 10.170.13.12:8500 check port 8500
        server consul3 10.170.13.13:8500 check port 8500

backend vault
        mode http
        balance roundrobin
        option forwardfor
        server vault1 10.170.13.21:8200 check port 8200

backend nomad
        mode http
        balance roundrobin
        option forwardfor
        server nomad 10.170.13.31:4646 check port 4646
        server nomad 10.170.13.32:4646 check port 4646
        server nomad 10.170.13.33:4646 check port 4646
